* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;
}

h2 {
  font-weight: 800;
  text-align: center;
  margin: 30px;
}
